<div id="info">
  <p>Resisting impulse buys can be tough, especially if you're not sure exactly how much you're spending. Use savingsTrackr to log all the things you want but could live without, and watch the savings add up!</p>
</div>
