/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*site-wide style*/
body {
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

#site-title {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-top: 70px;
}

#motto {
  margin-top: -25px;
}

#session-info {
  float: right;
  margin-top: -50px;
  margin-right: 40px;
  font-size: 16px;

}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*Home page*/
#info {
  width: 700px;
  margin: 0 auto;
  margin-top: 50px;
  color: #404040;
}


/*Log In and Sign Up pages*/
.sessions-form {
  width: 400px;
  margin-top: 50px;
  margin-left: 42%;
  /*margin: 0 auto;*/
  text-align: left;
}

/*User profile page*/
#user-profile {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

h3#list-title {
  font-size: 25px;
}
